/* 
    Document   : InteraceWeb
    Created on : Sep 10, 2011, 6:10:50 PM
    Author     : gabriel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}